body {
    font-family: 'Arial', sans-serif;
    background-color: rgba(0, 0, 0, 0.822);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

div {
    background-color: #fff;
    padding: 20px;
    display: inline-block;
    height: 350px;
    width:450px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: 400;
    margin-bottom: 5px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #ffc107;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ffc107;
}

p {
    margin-top: 10px;
}
.heading{
    font-weight: bold;
}

#huidResult, #result {
    margin-top: 10px;
    font-weight: bold;
}