body {
  background-color: rgba(0, 0, 0, 0.822);
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 400px;
  padding: 20px;
  margin-top: 110px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: whitesmoke;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #ffc107;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: #ffc107;
  border: 1px solid #ffc107;
}
